table {
  height : 50%;
  width : 90%;
  margin-top : 20px;
  background-color: #4e9fab;
  margin-left : auto;
  margin-right : auto ;
}

.App {
  background-color: blue;
  height :100vh;
  display : grid;
  grid-template-columns: 1fr 6fr;
}

th {
  font-size: 2em;
  border: 2px solid black;
}

td {
  border: 2px solid black;
  text-align: center;
}

tr {
  min-height : 100px;
  width : 90%;
}

li {
  max-width: 90%;
  font-size: 1.5em;
  margin : 1px 10px;
  border-radius: 5px;
  list-style-type: none;
  padding : 1px;
  position : relative;
  z-index : 1;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.411);
}

li:hover .task-del {
  display:inline-block;
}

.addTaskNameInput {
  border-radius: 30px;
  background-color: #d2d2d2;
  height : 25px;
  width : 90%;
  border: 0px;
  text-align: center;
  outline: none;
}


nav {
  border-radius: 10px;
  margin-top : 20px;
  margin-left : 20px;
  height: 50%;
  max-height : 225px;
  width : 275px;
  text-align: center;
  background-color: grey;
}

select {
  width : 90%;
}

.nav-button {
  margin-top: 20px;
}

.task-del {
  height : 30px;
  position : relative;
  z-index : 2;
  right : 0;
  display:none;
  border-radius: 10px ;
  border : 0;
  background : linear-gradient(#ff0000,#ff000038)
}

@media screen and (max-width : 1350px) {

  .App {
    display : flex;
    flex-direction: column;
  }

  nav {
    margin-left: auto;
    margin-right: auto;
  }



}

@media screen and (max-width: 1044px) {
  th {
    font-size: 1.5em;
  }
  td{
    font-size: 0.85em;
  }
}

